.categories-item-circle,
.service-item-circle {
	width: 26px;
	height: 26px;
	background-color: rgb(255, 255, 255);
	float: left;
	border-radius: 50%;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(180, 180, 180);
}
.categories-item-text,
.service-item-text {
	float: left;
	margin-left: 20px;
	margin-top: 2px;
}