.home-back {
	background-image: url("../img/home_back.png");
	width: 100%;
	height: 100%;
	position: absolute;
	background-size: 100% auto;
	background-repeat: no-repeat;
}
.home-logo {
	position: relative;
	background: url("../img/home_logo.png") no-repeat;
	height: 64px;
	width: 280px;
	background-size: 100%;
	margin: 136px auto 0;
}
.home-form {
	display: block;
	position: absolute;
	bottom: 0px;
	width: 100%;
	margin: 20% auto 0;
	text-align: center;
	font-size: 18px;
	color: white;
}
.home-btns {
	margin-top: 50px;
}
.home-login,
.home-signup {
	width: 50%;
	border-radius: 0;
	color: #FFFFFF;
}
.home-login {
	float: left;
	background-color: #26B418;
}
.home-signup {
	float: right;
	background-color: #C86606;
}