.myheart1 {
	position: absolute;
	top: 14px;
	font-size: 28px;
	left: 90%;
	text-shadow:
	0px -2px 0 #FFF,
	-2px 0px 0 #FFF,
	2px 0px 0 #FFF,
	0px 2px 0 #FFF;
}

.enable1 {
	color: #F6C28F;
	text-shadow:
	0px -2px 0 #C86606,
	-2px 0px 0 #C86606,
	2px 0px 0 #C86606,
	0px 2px 0 #C86606;
}

.disable1 {
	color: #FFF;
	text-shadow:
	0px -2px 0 #C86606,
	-2px 0px 0 #C86606,
	2px 0px 0 #C86606,
	0px 2px 0 #C86606;
}