.register-item-input {
	width: 95% !important;
	padding: 0 10px !important;
	box-shadow: -8px 8px 0px -7px #C86606, 8px 8px 0px -7px #C86606;
}
.register-item {
	border-style: hidden;
}
.register-list {
	margin: 0 10px;
}
md-checkbox {
	margin: 8px;
	cursor: pointer;
	padding-left: 18px;
	padding-right: 0;
	line-height: 26px;
	min-height: 18px;
	min-width: 18px;
}
md-checkbox.md-checked.green .md-icon {
	background-color: rgba(0, 255, 0, 0.87);
}
.register-create {
	width: 100%;
	border-radius: 0;
	background-color: #CE6523;
	color: white;
}
.register-text {
	text-align: center;
	padding: 16px;
	font-size: 12px;
}