<ul class="week-days">
    <li class="day">Lu</li>
    <li class="day">Ma</li>
    <li class="day">Mi</li>
    <li class="day">Ju</li>
    <li class="day">Vi</li>
    <li class="day">Sa</li>
    <li class="day">Do</li>
</ul>
<div class="week" ng-repeat="week in weeks">
    <span class="day" ng-class="{'today': day.isToday, 'different-month': !day.isCurrentMonth, selected: day.date.isSame(selected), 'event':  day.isEvent}" ng-click="select(day)" ng-repeat="day in week.days">{{day.number}}</span>
</div>
<div>
    <button class="calendar-arrow button icon-left ion-chevron-left" style="float: left;" ng-click="previous()"></button>
    <button class="calendar-arrow button icon-right ion-chevron-right" style="float: right;" ng-click="next()"></button>    
</div>
