<ion-view  title="Customer Data">
	<ion-nav-title>
	    <div class="mytitle">
	      <h1>editar cliente</h1>
	    </div>
	</ion-nav-title>
	<ion-content>
		<ul class="list">
	      <label class="item item-input">
	        <span class="input-label">NOMBRE</span>
	        <input type="text" class="detail-item-input" ng-model="customer.name" value="{{customer.name}}"></input>
	      </label>
	      <label class="item item-input">
	        <span class="input-label">EMAIL</span>
	        <input type="text" class="detail-item-input" ng-model="customer.email" value="{{customer.email}}"></input>
	      </label>
	      <label class="item item-input">
	        <span class="input-label">TELÉFONO</span>
	        <input type="text" class="detail-item-input" ng-model="customer.phone1" value="{{customer.phone1}}"></input>
	      </label>
	      <label class="item item-input item-select">
	      	<div class="input-label">
	      		PAÍS
	      	</div>
	      	<select ng-model="customer.country.id" ng-change="selectCountry(customer.country.id)" ng-options="country.id as country.name for country in countries">
	      	</select>
	      </label>
	      <label class="item item-input item-select">
	      	<div class="input-label">
	      		REGIÓN
	      	</div>
	      	<select ng-model="customer.region.id" ng-change="selectRegion(customer.country.id,customer.region.id)" ng-options="region.id as region.name for region in regions">
	      	</select>
	      </label>
	      <label class="item item-input item-select">
	      	<div class="input-label">
	      		PROVINVIA
	      	</div>
	      	<select ng-model="customer.state.id" ng-change="selectState(customer.country.id,customer.region.id, customer.state.id)" ng-options="state.id as state.name for state in states">
	      	</select>
	      </label>
	      <label class="item item-input item-select">
	      	<div class="input-label">
	      		CIUDAD
	      	</div>
	      	<select ng-model="customer.city.id" ng-change="selectCity(customer.country.id,customer.region.id, customer.state.id, customer.city.id)" ng-options="city.id as city.name for city in cities">
	      	</select>
	      </label>
	      <label class="item item-input">
	        <span class="input-label">DIRECCIÓN</span>
	        <input type="text" class="detail-item-input" ng-model="customer.address1" value="{{customer.address1}}"></input>
	      </label>
	      <label class="item item-input">
	        <span class="input-label">CP</span>
	        <input type="text" class="detail-item-input" ng-model="customer.postal_code" value="{{customer.postal_code}}"></input>
	      </label>
	      <li class="item">
	        <div>OBSERVACIONES</div>
	        <textarea style="width: 100%; text-align: left;" ng-model="customer.body" class="detail-item-input">{{customer.body}}</textarea>
	      </li>
	    </ul>
	</ion-content>
</ion-view>