<ion-view title="detail">
  <ion-nav-bar class="bar-calm">
    <ion-nav-buttons side="left">
       <button class="button icon-left ion-android-arrow-back" ng-click="goBack()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
       <button class="button" ng-click="save()">GUARDAR</button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-nav-title>
    <div class="mytitle">
      <h1>editar cita</h1>
    </div>
  </ion-nav-title>
  <ion-content class="has-header">
    <ul class="list">
      <label class="item item-input">
        <span class="input-label">NOMBRE</span>
        <input type="text" class="detail-item-input" mg-model="appointmentsforIndex.name" value="{{appointmentsforIndex.name}}"></input>
      </label>
      <label class="item item-input">
        <span class="input-label">EMAIL</span>
        <input type="text" class="detail-item-input" ng-model="appointmentsforIndex.email" value="{{appointmentsforIndex.email}}"></input>
      </label>
      <label class="item item-input">
        <span class="input-label">TELÉFONO</span>
        <input type="text" class="detail-item-input" ng-model="appointmentsforIndex.phone" value="{{appointmentsforIndex.phone}}"></input>
      </label>
      <label class="item item-input item-select">
        <span class="input-label">PROVEEDOR</span>
        <select ng-model="appointmentsforIndex.provider" ng-change="resource_change()">
          <option selected="selected">{{appointmentsforIndex.provider}}</option>
          <option ng-repeat="x in resources">{{x.name}}</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <span class="input-label">SERVICIO</span>
        <select ng-model="appointmentsforIndex.service" ng-change="service_change()">
          <option selected="selected">{{appointmentsforIndex.service}}</option>
          <option ng-repeat="x in services">{{x.name}}</option>
        </select>
      </label>
      <label class="item item-input">
        <span class="input-label">EMPIEZA</span>
        <input type="text" class="detail-item-input" ng-model="appointmentsforIndex.toDate" value="{{appointmentsforIndex.toDate}}"></input>
      </label>
      <label class="item item-input">
        <input type="text" class="detail-item-input" ng-model="appointmentsforIndex.from" value="{{appointmentsforIndex.from}}"></input>
      </label>
      <label class="item item-input">
        <span class="input-label">TERMINA</span>
        <input type="text" class="detail-item-input" ng-model="appointmentsforIndex.to" value="{{appointmentsforIndex.to}}"></input>
      </label>
      <li class="item">
        <div>NOTAS</div>
        <textarea style="width: 100%; text-align: left;" ng-model="appointmentsforIndex.note" class="detail-item-input">{{appointmentsforIndex.note}}</textarea>
      </li>
      <label class="item item-input item-select">
        <span class="input-label">ESTADO</span>
        <select ng-model="appointmentsforIndex.state" ng-change="state_change()">
          <option selected="selected">{{appointmentsforIndex.state}}</option>
          <option>New</option>
          <option>Accepted</option>
          <option>Rejected by business</option>
          <option>Rejected by customer</option>
          <option>Completed</option>
          <option>Deleted</option>
        </select>
      </label>
    </ul>
  </ion-content>
  <div class="bar bar-footer bar-assertive">
    <div class="title">ELIMINAR</div>
  </div>
</ion-view>