<ion-view>
	<ion-nav-buttons side="left">
	    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
	    <button class="button">GUARDAR</button>
	</ion-nav-buttons>
  	
	<ion-nav-title>
	    <div class="mytitle">
	      <h1>nueva cita</h1>
	    </div>
	</ion-nav-title>
	<ion-content>
		<form name="myform" novalidate>
		<ul class="list">
		  <label class="item item-input" ng-class="{'item-input-invalid':!myform.name.$pristine && myform.name.$invalid}">
		  	<i class="icon ion-search"></i>
	        <span class="input-label">&nbsp;NOMBRE</span>
	        <input type="search" name="name" class="detail-item-input" ng-model="searchName" value="" required></input>
	      </label>
	      <ion-item class="item-sub" ng-repeat="customer in customers | filter: searchName | orderBy: name" ng-click="clickSubItem(customer)">{{customer.name}}</ion-item>
	      <label class="item item-input item-select">
	        <span class="input-label">PROVEEDOR</span>
	        <select name="resource" ng-model="appointment.resource.id" ng-change="selectResource(appointment.resource.id)" ng-options="resource.id as resource.name for resource in resources">
	        </select>
	      </label>
	      <label class="item item-input item-select">
	        <span class="input-label">SERVICIO</span>
	        <select ng-model="appointment.service.id" ng-change="selectService(appointment.service.id)" ng-options="service.id as service.name for service in services">
	        </select>
	      </label>
	      <label class="item item-input item-select" ng-show="peopleflag">
	        <span class="input-label">PERSONAS</span>
	        <select ng-model="appointment.people" ng-change="selectPeople(appointment.people)" ng-options="people.index as people.value for people in peoples">
	        </select>
	      </label>
	      <label class="item item-input" ng-class="{'item-input-invalid':!myform.fromdate.$pristine && myform.fromdate.$invalid}">
	        <span class="input-label">EMPIEZA</span>
	        <input type="datetime-local" name="fromdate" class="detail-item-input" ng-model="myDate.fromdate" value="" ng-change="changeFromdate()" required></input>
	      </label>
	      <label class="item item-input" ng-class="{'item-input-invalid':!myform.totime.$pristine && myform.totime.$invalid}">
	        <span class="input-label">TERMINA</span>
	        <input type="time" name="totime" class="detail-item-input" ng-model="myDate.totime" value="" required></input>
	      </label>
	      <li class="item">
	        <div>NOTAS</div>
	        <textarea style="width: 100%; text-align: left;" ng-model="appointment.body" class="detail-item-input"></textarea>
	      </li>
	      <label class="item item-input item-select">
	        <span class="input-label">ESTADO</span>
	        <select ng-model="appointment.status" ng-change="selectStatus(appointment.status)" ng-options="state.id as state.name for state in status">
	        </select>
	      </label>
	    </ul>
	  </form>
	</ion-content>
</ion-view>