<ion-view title="Forgot Password">
    <ion-content scroll="false">
        <div class="forgot-back">
            <div class="forgot-logo"></div>
            <div class="forgot-content">
                <h4 style="color: white;">Forgot your password?</h4>
                <p>Enter your email address below and we will send you instructions on how you change your password.</p>
            </div>
            <div class="forgot-form">
                <div class="list forgot-list">
                    <label class="item item-input forgot-email">
                        <span class="input-label" style="color: white">Email Address</span>
                        <input type="text" style="color: white"></input>
                    </label>
                </div>
                <div class="forgot-btns">
                    <a class="forgot-return icon-left ion-arrow-left-b" ng-click="goLogin()"> Return to login</a>
                    <button class="button forgot-send">SEND</button>
                </div>    
            </div>
        </div>
    </ion-content>
</ion-view>