<ion-view title="Home">
    <ion-content scroll="false">
        <div class="home-back">
            <div class="home-logo"></div>
            <div class="home-form">
                <div class="home-text">Generate a Second Income</div>
                <div class="home-btns">
                    <button class="button home-login" ng-click="doLogin()">LOG IN</button>
                    <button class="button home-signup" ng-click="doRegister()">SIGN UP</button>
                </div>    
            </div>
        </div>
    </ion-content>
</ion-view>