<ion-view title="Login">
    <ion-content scroll="false">
        <div class="login-back">
            <div class="login-logo"></div>
            <div class="login-form">
                <div class="list login-list">
                    <label class="item item-input login-email">
                        <span class="input-label" style="color: white">Email Address</span>
                        <input type="text" style="color: white"></input>
                    </label>
                    <label class="item item-input login-password">
                        <span class="input-label" style="color: white">Password</span>
                        <input type="password" style="color: white"></input>
                    </label>
                    <a class="button login-forgot" ng-click="goForgot()">Forgot password?</a>
                </div>
                <div class="login-btns">
                    <button class="button login-login" ng-click="goLanding()">LOGIN</button>
                </div>    
            </div>
        </div>
    </ion-content>
</ion-view>