<ion-side-menus>
    <ion-pane ion-side-menu-content drag-content="false">
        <ion-nav-bar class="bar-mine nav-title-slide-ios7">
        </ion-nav-bar>
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
    </ion-pane>
    <ion-side-menu side="left" class="dark">
        <ion-content has-header="true" style="background-color: rgb(27,27,27);">
            <div class="menu-space"></div>
            <div class="list">
                <a class="menu-item item item-icon-left" href="" ng-click="goLogin()">
                    <i class="icon ion-ios-locked-outline"></i>
                    Login/Logout
                </a>
                <a class="menu-item item item-icon-left" href="" ng-click="goSetting()">
                    <i class="icon ion-ios-gear-outline"></i>
                    Settings
                </a>
                <a class="menu-item item item-icon-left" href="" ng-click="goAccount()">
                    <i class="icon ion-ios-person-outline"></i>
                    My account
                </a>
            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>