<ion-view title="multi">
  <ion-nav-buttons side="left">
     <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-android-search"></button>
    <button class="button button-icon icon ion-funnel"></button>
    <button class="button button-icon icon ion-android-more-vertical"></button>
  </ion-nav-buttons>
  <ion-nav-title>
  </ion-nav-title>
  <ion-content has-header="true" scroll="false">
    <div class="multi-location">
      <div class="multi-mark"></div>
    </div>
    <ion-scroll direction="y" style="height: 50%;">
      <div class="multi-product">
        <i class="myheart enable icon ion-android-star"></i>
      </div>
      <div class="multi-face"></div>
      <div class="multi-rate">
        <h3 style="line-height: 16px; color: #585858;">Segelflygsgatan 6, bv</h3>
        <p style="font-size: 18px;">Skarpnack, Stockholom</p>
        <pre style="font-size: 18px;">1150 000 kr    31m2     2rum</pre>
      </div>
      <div class="multi-product">
        <i class="myheart enable icon ion-android-star"></i>
      </div>
      <div class="multi-face"></div>
      <div class="multi-rate">
        <h3 style="line-height: 16px; color: #585858;">Vespa</h3>
        <p style="font-size: 18px;">Skarpnack, Stockholom</p>
        <pre style="font-size: 18px;">1150 000 kr    31m2     2rum</pre>
      </div>
    </ion-scroll> 
    <button class="multi-button-center button" ng-click="goLanding()"></button>
  </ion-content>
</ion-view>