<ion-view title="detail">
  <ion-nav-bar class="bar-calm">
    <ion-nav-buttons side="left">
       <button class="button icon-left ion-android-arrow-back" ng-click="goBack()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
       <button class="button">GUARDAR</button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-nav-title>
    <div class="mytitle">
      <h1>nueva categorías</h1>
    </div>
  </ion-nav-title>
  <ion-content class="has-header">
    <ul class="list">
      <li class="item" style="display: block;">
        <div style="float: left;">NOMBRE</div>
        <div class="detail1" style="float: right;">Manicura y Pedicura</div>
      </li>
    </ul>
  </ion-content>
</ion-view>