<ion-view title="Register">
  <ion-nav-buttons side="left">
     <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
  </ion-nav-title>
  <ion-content has-header="true">
    <div class="register-list">
      <ul class="list">
        <li class="item">
            <button class="button button-assertive button-full icon-left ion-social-googleplus">Register with Google</button>
            <button class="button button-positive button-full icon-left ion-social-facebook">Register with Facebook</button>
        </li>
        <li>
            <label class="register-item item item-input item-stacked-label">
                <span class="input-label">First Name</span>
                <input class="register-item-input" type="text"></input>
            </label>
        </li>
        <li>
            <label class="register-item item item-input item-stacked-label">
                <span class="input-label">Last Name</span>
                <input class="register-item-input" type="text"></input>
            </label>
        </li>
        <li>
            <label class="register-item item item-input item-stacked-label">
                <span class="input-label">Email</span>
                <input class="register-item-input" type="text"></input>
            </label>
        </li>
        <li>
            <label class="register-item item item-input item-stacked-label">
                <span class="input-label">Password</span>
                <input class="register-item-input" type="password"></input>
            </label>
        </li>
        <li>
            <label class="register-item item item-input item-stacked-label">
                <span class="input-label">Mobile Phone</span>
                <input class="register-item-input" type="text"></input>
            </label>
        </li>
        <li>
            <label class="register-item item item-input item-stacked-label">
                <span class="input-label">Address</span>
                <input class="register-item-input" type="text"></input>
            </label>
        </li>
        <li>
            <label class="register-item item item-input item-stacked-label">
                <span class="input-label">Birthdate</span>
                <input class="register-item-input" type="text"></input>
            </label>
        </li>
        <label class="register-item item item-input item-select">
            <div class="input-label">
                Gender
            </div>
            <select>
                <option>Male</option>
                <option>Female</option>
            </select>
        </label>
        <li>
            <label class="register-item item item-input item-stacked-label">
                <span class="input-label">Language</span>
                <input class="register-item-input" type="text"></input>
            </label>
        </li>
      </ul>
    </div>
    <div class="register-text">
        <p>By clicking "CREATE ACCOUNT", you agree to Good Stuff <a href="" style="color: #CE6523;">Terms and Conditions</a> and <a href="" style="color: #CE6523;">Privacy Policy</a></p>
    </div>
    <button class="button register-create">CREATE ACCOUNT</button>
  </ion-content>
</ion-view>
